[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "*"
discord = "*"
boto3 = "*"
pycoingecko = "*"

[requires]
python_version = "3.9"

[dev-packages]
black = "*"
isort = "*"
